<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>The total number of users are: <%= count %></h1>
    <form method="GET" action="/user/add">
        <button>Join us!</button>
    </form>
</body>
</html>