.box{
    /* centre my name */
    /* height: 100vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* display: inline;
    position: relative;
    top: 50vh;
    left: 50vw; */
    /* padding-top: 50vh;
    padding-left: 50vw; */
}